// _buttons.scss

// Základní styl tlačítka
.btn-custom {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border-radius: 16px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

// Varianta primární
.btn-primary-custom {
  @extend .btn-custom;
  background-color: $primary-color;
  color: $secondary-color;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 65px;

  &:hover {
    background-color: darken($primary, 10%);
  }
}

// Varianta sekundární
.btn-secondary-custom {
  @extend .btn-custom;
  background-color: #fff;
  color: #000;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 65px;

  @include respond-max(sm) {
      width: 100%;
    }

  &:hover {
    background-color: lighten($secondary, 10%);
  }


}

.btn-tertiary-custom {
  @extend .btn-custom;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 18px 65px;

  &:hover {
    background-color: lighten($secondary, 10%);
  }
}

// Varianta ghost (průhledné tlačítko s borderem)
.btn-ghost {
  @extend .btn-custom;
  background-color: #ffffff1a;
  color: #fff;
  border: 1px solid #fff;
   padding: 18px 65px;

   @include respond-max(sm) {
      width: 100%;
    }

  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.btn-primary-custom-form {
  @extend .btn-custom;
    background-color: $primary-color;
    color: #fff;
    width: 100%;
    padding: 5px 65px;
    border: none;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}