//velikosti
$h1-size: 64px;
$h2-size: 48px;
$h3-size: 40px;
$h4-size: 32px;
$h5-size: 20px;
$h6-size: 18px;


$heading-weight: 700;
$font-heading: 'Oswald', sans-serif;

$font-body: 'Poppins', sans-serif;
$font-size-body: 16px;


body {
  font-family: $font-body;
  font-size: $font-size-body;
}

a {
  font-family: $font-body;
}

// 4. Nadpisy
h1, h2, h3, h4, h5, h6 {
  font-family: $font-heading;
  text-transform: uppercase;
}

h1, h2, h3 {
  font-weight: 700;
}

h5 {
  font-weight: 600;
}

h1 { font-size: $h1-size }
h2 { font-size: $h2-size; }
h3 { font-size: $h3-size; }
h4 { font-size: $h4-size; }
h5 { font-size: $h5-size; }
h6 { font-size: $h6-size; }