.footer {
    background-color: #000;

    &__column li h5, &__column li p {
        color: #fff;
        font-weight: 300;

    }

    &__column {
        list-style:none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 0;

        &-text {
            text-align: center;
            
        }
    }

    

    &__map-copyright {
        padding-bottom: 10px !important;
        color: #fff;
        font-weight: 300;

    }

    &__map-item {
        border-radius: 24px;
        width: 100%;
        margin-bottom: 50px;
    }

    &__column-img {
        
        & img {
            max-width: 80px;
        }
    }
}