

.navbar {
  position: relative;
  z-index: 10;

  .nav-link {
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
@include respond-max(md) {
      font-size: 16px; 
    }
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand img{
  max-width: 80px;
  @include respond-max(768px) {
      width: 60px;
    }
}


  .navbar-toggler {
  border: none; // odstraní rámeček
  color: invert(1); // přebarví tmavé SVG na bílé (nejrychlejší řešení)
  &:focus {
    box-shadow: none;
  }
}

.navbar-collapse.collapse.show .navbar-nav.ms-auto .nav-item .nav-link {
color: #000 !important;

}

  .navbar-collapse {

    @include respond-max(lg) {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff; // bílé pozadí
      padding: 1rem 2rem;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      z-index: 999;
    }
  }
}

