@import './utils/variables.scss';  
@import './utils/mixins.scss';
@import "bootstrap/scss/bootstrap";
@import './base/typography.scss';
@import './layout/navbar.scss';
@import './layout/footer.scss';
@import './components/_buttons.scss';
@import './components/_cards.scss';
@import './components/_carousel.scss';
@import './components/_accordeons.scss';



  

.container-fluid, .container {
max-width: 1320px;
width: 100%;
padding-left: 15px;
padding-right: 15px;
margin: 0px auto;
@include respond-max(md) {
      width: 90%;
    }
}

.hero {
    margin-top: -100px;
    background-image:
   linear-gradient(to right, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 55%),
        url(../assets/hero-way.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;




      &__radek {
    min-height: 100vh;        // výška stejné jako rodič
    display: flex;           // aktivuje flexbox
    align-items: center;     // vertikální zarovnání do středu
    justify-content: center;
    
    @include respond-max(md) {
      flex-direction: column; // mobilní zařízení → column
    }// horizontální zarovnání (volitelné)
  }

  &__nadpis {
     @include respond-max(md) {
        font-size: 40px;
     }
  }

  &__obal-btn {
    column-gap: 15px;
    @include respond-max(md) {
      flex-direction: column; 
      row-gap: 15px;
    }}
}

.card__fullwidth-btn {

  .card__btn {
    width: 40%;
    display: block;

    @include respond-max(md) {
      width: 80%;
    }
  }

  
}


.cenik {
  margin: 75px 0;
}
